@import 'mixins';

.reports {
  flex: 1;

  &__innerContainer {
    display: flex;
    flex-wrap: wrap;
  }

  &__placeholder {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    height: 100%;
    margin: 138px 0 0 0;

    &__heading {
      @include heading;
      max-width: 470px;
    }

    &__text {
      @include subHeading;
      max-width: 470px;
      margin: 0 0 51px 0;
    }
  }
}
