$text-dark: #011f4b;
$text-light: #7e8299;
$text-dark-blue: #005b96;
$bg-light: #f1fafe;
$yellow: #f6ca65;

$sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;