$theme-colors: (
  "primary": #1bc5bd,
  "secondary": #005b96,
);

@import '~bootstrap/scss/bootstrap';
@import 'variables';
@import 'mixins';

// Bootstrap component styles overrides
.accordion-button:after {
  display: none;
}

.accordion-item {
  border: none;
  margin-bottom: 5px;
  border-radius: 10px !important;
  background-color: $bg-light;

  .accordion-button {
    border-radius: 10px !important;
    font-weight: bold;
  }

  .accordion-button:not(.collapsed) {
    color: $text-dark;
    background-color: white;
    box-shadow: none;
  }
}

// User Agent overrides
th {
  font-weight: normal;
}