@import 'variables';

.reportsHeader {
  margin: 32px 0 0 0;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__heading {
    display: inline-flex;
    overflow: hidden;
    flex-direction: column;
    margin-right: auto;
    flex-shrink: 0;
    margin: 0 32px 28px 0;

    &__mainHeading {
      color: $text-dark;
      font-size: 24px;
    }

    &__subHeading {
      color: $text-light;
      font-size: 16px;
    }
  }

  &__filterToolbar {
    flex-wrap: nowrap;
    margin: 0 0 28px 0;
  }

  &__filterButton {
    margin: 0 24px 0 0;

    button {
      line-height: 16px;
      width: 145px;
      height: 32px;
      color: white;
    }
  }

  &__submitButton {
    color: white;
    margin: 0 24px 0 0;
    line-height: 16px;
    height: 32px;
  }
}
